{% extends 'users/base.html' %}

{% block content %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg">
          <div class="card-header bg-danger text-white">
            <h1 class="display-4 mb-4 fw-bold text-center">{{ service.nom }}</h1>
          </div>
          <div class="card-body">
            <div class="row justify-content-center mb-3">
             
            </div>
            <div class="row justify-content-center mb-3">
              <div class="col-md-10">
                <p class="text-muted text-center">{{ service.description }}</p>
              </div>
            </div>
            
          </div>
        </div>
       
      </div>
    </div>
  </div>
{% endblock %}
